.container_a {
    max-width: 1200px;
    margin: 20px auto;
    /*margin-right: 0;
    margin-left: 0;*/
    display: flex;
    justify-content: space-between;
  
}.container_b {
    max-width: 1200px;
    margin: 20px auto;
    /*margin-right: 0;
    margin-left: 0;*/
    display: flex;
    justify-content: space-between;
  
}
.container {
    max-width: 1200px;
    margin: 0px;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
}
.articleList {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}
.container_list_blog {
    max-width: 1000px;
    margin: auto auto;
    /*margin-right: 0;
    margin-left: 0;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
}

.sortOptions {
    display: flex;
    flex-direction: column;
}
.sort_container {
    width: 30%; /* Укажите ширину, которая соответствует вашим потребностям */
    padding: 10px; /* Добавьте отступы по вашему усмотрению */
    /*box-sizing: border-box;*/ /* Учитывайте отступы внутри ширины контейнера */
}

.list_container {
    width: 65%; /* Укажите ширину, которая соответствует вашим потребностям */
    padding: 10px; /* Добавьте отступы по вашему усмотрению */
    box-sizing: border-box; /* Учитывайте отступы внутри ширины контейнера */
}